@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgb(52, 19, 70);
  --text-inverse: #fff;
  --bg-primary: #fff;
  --link: #D13E61; 
  --text-tag: #410544; 
  --bg-tag: #FEE9FF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
}

#__next {
  height: 100%;
}

a {
  color: var(--link);
  font-weight: 600;
  padding: 2px;
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.1em;
}

a:hover {
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.2em;
}

a:focus {
  text-decoration: none;
  outline-color: var(--link);
}

* {
  box-sizing: border-box;
}

h1, h2 {
  color: var(--color-primary);
}

header, footer {
  color: var(--text-inverse);
  background: var(--color-primary);
}

header a, footer a {
  color: var(--text-inverse);
}

header a:focus, footer a:focus {
  outline-color: var(--text-inverse);
}

.skip-to-main-link {
  position: absolute;
  top: 0;
  opacity: 0;
}

.skip-to-main-link:focus {
  top: 5px;
  text-align: center;
  opacity: 1;
  padding: 0 2px;
}

.head-section {
  border: 2px solid var(--color-primary);
  padding: 2rem 1.5rem 1rem;
  box-shadow: 1rem 1rem 0 0 var(--color-primary);
  margin: 2rem 0;
}

.buttoned {
  border: transparent;
  color: var(--text-inverse);
  background-color: var(--link);
  border-radius: 8px;
  padding: 7px 10px 10px;
  text-decoration: none;
  outline-offset: 3px;
}

.buttoned:hover {
  color: var(--link);
  border: 2px solid var(--link);
  background-color: var(--text-inverse);
}

.tag {
  border: transparent;
  color: var(--text-tag);
  background-color: var(--bg-tag);
  border-radius: 8px;
  padding: 2px 8px;
  text-decoration: none;
  outline-offset: 3px;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

a.svg-icon svg {
  height: 40px;
  width: 40px;
  fill: var(--text-inverse);
  padding: 6px;
}

a.svg-icon:hover svg {
  opacity: 0.8;
}
