@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4f1f84;
  --bg-primary: #fff;
  --bg-primary: #f4f4ff;
  --link: #5620bf;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-primary);
}

a {
  color: var(--link);
  text-decoration: none;
  font-weight: 600;
  padding: 2px;
}

a:hover, a:focus {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.2em;
}

* {
  box-sizing: border-box;
}

header {
  color: black;
  background-color: #f4f4ff;
}

header a {
  color: black;
}

h1, h2, h3 {
  color: var(--color-primary);
}

footer {
  background-color: var(--color-primary);
}

footer a {
  color: white;
}

