.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown ul,
.markdown ol {
  @apply mx-8;
}

.markdown blockquote {
  @apply my-6;
}

.markdown b, .markdown strong {
  @apply font-bold;
}

.markdown h2 {
  @apply text-3xl mt-8 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown pre {
  overflow: auto;
  background-color: #f8f8f8;
  padding: 10px 10px;
  border: 1px solid darkgray;
}

.markdown ul,
.markdown ol {
  list-style: revert;
}

.details-md {
  @apply text-center py-2 text-lg leading-relaxed;
}

.details-md p,
.details-md div {
  @apply my-6;
}

.markdown blockquote,
.details-md blockquote {
    margin-top: 5px;
    padding: 0 10px;
    box-shadow: 5px 5px #717476;
    font-family: Roboto Mono,monospace;
    margin-bottom: 1.3em;
    border: 2px solid #4b4242;
    color: #3b9217;
    font-weight: 600;
    font-size: 1.3em;
}